.ne-ServicesPage h1 {
    font-size: 45px;
    font-family: "Charmonman", serif;
    color: rgba(172,121,53,1);
    line-height: 80px;
    letter-spacing: 20px;
}

.service-card {
    width: 350px;
    height: 350px;
    border-radius: 8px;
    border-color: rgba(172,121,53,1);
    position: relative;
    cursor: pointer;
    overflow: hidden; /* Ensure ::before doesn't spill outside */
    transition: all 0.3s ease;
}

.service-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.service-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1.2px); /* Apply initial blur */
    transition: all 0.3s ease;  /* Smooth transition effect */
}

.service-card:hover::before {
    backdrop-filter: none; /* Disable the blur on hover */
    background-color: rgba(255, 255, 255, 0); /* Make the overlay transparent */
}
.service-card:hover  .card-service-title {
    color: #1b1b11;
    letter-spacing: 5px;
    font-family: inherit;
    box-shadow: 0 -2px 10px rgba(1, 1, 1, 0.896);
}
.card-service-title {
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Charmonman", serif;
    color: rgba(172,121,53,1);
    letter-spacing: 6px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.156);
    padding: 1px 5px;
}
