@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Charmonman:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: "Montserrat", serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}